@{
  Layout = "_Layout";
}

<h1>Welcome to the Restaurant List</h1>

<p>@Html.ActionLink("See a List of all Cuisines", "Index", "Cuisines")</p>

<p>@Html.ActionLink("See a List of all Restaurants", "Index", "Restaurants")</p>

